<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.DataManagement.Client.Framework.Vault.Interfaces.ExtensionHandlers.IFileReferencesProvider, Autodesk.DataManagement.Client.Framework.Vault, Version=25.0.0.0, Culture=neutral, PublicKeyToken=215b0879a7566597"
      type="Autodesk.DataManagement.Client.ExtensionHandler.AcadSynergy.FileReferenceProvider, Autodesk.DataManagement.Client.ExtensionHandler.AcadSynergy"
      runtime="x64">
      <setting key="Extensions" value=".dwg; .dwt; .dws"/>
      <setting key="Id" value="{04A0538A-CB3C-48B9-9A80-99B1FE0229EF}"/>
      <setting key="ThreadSafe" value="False" />
      <setting key="MainThreadRequired" value="True" />
      <resolveFolder lookup="ExplorerClient" appendToPath="true"/>
      <resolveFolder lookup="RelativeToExtension" path="..\InventorExtensionHandler" appendToPath="true"/>
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>
