<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.DataManagement.Client.Framework.Vault.Interfaces.ExtensionHandlers.IFileReferencesProvider, Autodesk.DataManagement.Client.Framework.Vault, Version=25.0.0.0, Culture=neutral, PublicKeyToken=215b0879a7566597"
      type="Autodesk.DataManagement.Client.ExtensionHandler.Acad.FileReferenceProvider, Autodesk.DataManagement.Client.ExtensionHandler.Acad"
      runtime="x64">
      <setting key="Extensions" value=".dwg; .dwt; .dws"/>
      <setting key="Id" value="{102BD4D1-C581-4CCD-BFD3-8967EB6BF0FF}"/>
      <setting key="ThreadSafe" value="False" />
      <setting key="MainThreadRequired" value="True" />
      <resolveFolder lookup="ExplorerClient" appendToPath="true"/>
    </extension>
    <extension
      interface="Autodesk.DataManagement.Client.Framework.Vault.Interfaces.ExtensionHandlers.IFileReferencesProvider, Autodesk.DataManagement.Client.Framework.Vault, Version=25.0.0.0, Culture=neutral, PublicKeyToken=215b0879a7566597"
      type="Autodesk.DataManagement.Client.ExtensionHandler.Acad.C3DDataFileReferenceProvider, Autodesk.DataManagement.Client.ExtensionHandler.Acad"
      runtime="x64">
      <setting key="Extensions" value=".xml" />
      <setting key="Id" value="{1F439669-5704-4F35-83F0-425EB47E4CD3}"/>
      <setting key="ThreadSafe" value="False" />
      <setting key="MainThreadRequired" value="True" />
    </extension>
    <extension
      interface="Autodesk.DataManagement.Client.Framework.Vault.Interfaces.ExtensionHandlers.IFileReferencesProvider, Autodesk.DataManagement.Client.Framework.Vault, Version=25.0.0.0, Culture=neutral, PublicKeyToken=215b0879a7566597"
      type="Autodesk.DataManagement.Client.ExtensionHandler.Acad.AceWdpFileReferenceProvider, Autodesk.DataManagement.Client.ExtensionHandler.Acad"
      runtime="x64">
      <setting key="Extensions" value=".wdp"/>
      <setting key="Id" value="{5CF2238E-EDC9-4A1B-8C58-9B00E13EB4EF}"/>
      <setting key="ThreadSafe" value="False" />
      <setting key="MainThreadRequired" value="True" />
      <resolveFolder lookup="ExplorerClient" appendToPath="true"/>
    </extension>
    <extension
          interface="Autodesk.DataManagement.Client.Framework.Vault.Interfaces.ExtensionHandlers.IFileReferencesProvider, Autodesk.DataManagement.Client.Framework.Vault, Version=25.0.0.0, Culture=neutral, PublicKeyToken=215b0879a7566597"
          type="Autodesk.DataManagement.Client.ExtensionHandler.Acad.SsmDataFileHandler, Autodesk.DataManagement.Client.ExtensionHandler.Acad"
          runtime="x64">
      <setting key="Extensions" value=".dss; .dsu; .dsh" />
      <setting key="Id" value="{2CC4A569-D219-4762-9863-37D41BD77D25}"/>
      <setting key="ThreadSafe" value="False" />
      <setting key="MainThreadRequired" value="True" />
      <resolveFolder lookup="ExplorerClient" appendToPath="true"/>
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>
