<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectivity.ExtensionSettings3>
        <extension
          interface="Autodesk.DataManagement.Client.Framework.Vault.Interfaces.ExtensionHandlers.IFileReferencesProvider, Autodesk.DataManagement.Client.Framework.Vault, Version=25.0.0.0, Culture=neutral, PublicKeyToken=215b0879a7566597"
          type="Autodesk.DataManagement.Client.ExtensionHandler.Revit.FileReferenceProvider, Autodesk.DataManagement.Client.ExtensionHandler.Revit"
          runtime="x64">
            <setting key="Extensions" value=".rvt; .rte; .rfa"/>
            <setting key="Id" value="{A1D1C00C-FF7F-4D61-9548-20975B1BE483}"/>
            <setting key="ThreadSafe" value="True" />
            <setting key="MainThreadRequired" value="False" />
        </extension>
    </connectivity.ExtensionSettings3>
</configuration>