<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.DataManagement.Client.Framework.Vault.Interfaces.ExtensionHandlers.IFileReferencesProvider, Autodesk.DataManagement.Client.Framework.Vault, Version=25.0.0.0, Culture=neutral, PublicKeyToken=215b0879a7566597"
      type="Autodesk.DataManagement.Client.ExtensionHandler.Inventor.FileReferenceProvider, Autodesk.DataManagement.Client.ExtensionHandler.Inventor"
      runtime="Any">
      <setting key="Extensions" value=".iam; .ipt; .ipn; .idw; .dwg"/>
      <setting key="Id" value="{C8B8FBF2-5A38-435D-9DD9-F53F2995CE9D}"/>
      <setting key="ThreadSafe" value="False" />
      <setting key="MainThreadRequired" value="True" />
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>