<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.DataManagement.Client.Framework.Vault.Interfaces.ExtensionHandlers.IFileReferencesProvider, Autodesk.DataManagement.Client.Framework.Vault, Version=25.0.0.0, Culture=neutral, PublicKeyToken=215b0879a7566597"
      type="Autodesk.DataManagement.Client.ExtensionHandler.Navisworks.FileReferenceProvider, Autodesk.DataManagement.Client.ExtensionHandler.Navisworks"
      runtime="Any">
      <setting key="Extensions" value=".nwf; .nwc; .nwd"/>
      <setting key="Id" value="{6F7DCB93-F5C2-442F-BB10-15C490C1B374}"/>
      <setting key="ThreadSafe" value="True" />
      <setting key="MainThreadRequired" value="False" />
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>